<h1>Inventario los Saramambiches</h1>
<div class="login-container">
    <h2>Login</h2>
    <form>
      <div>
        <label for="username">Username</label>
        <input id="username"name="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password"name="password" required>
      </div>
      <button type="submit">Ingresar</button>
    </form>
    <p>¿No tienes una cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></p>
  </div>