.layout {
  display: flex;
  position: relative;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
  }

  .header-title {
    margin: 0;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center; /* Centra el título */
  }

  .toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 21;
    position: absolute;
    left: 10px; /* Ajusta el espacio desde el borde izquierdo */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente */
  }

  .sidebar {
    position: fixed;
    top: 50px; /* Ajustar según la altura del header */
    left: 0;
    width: 250px;
    height: calc(100% - 50px); /* Ajustar según la altura del header */
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 10;
  }

  .sidebar.hidden {
    transform: translateX(-100%);
  }

  .main-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
  }

  .sidebar.hidden ~ .main-content {
    margin-left: 0;
  }

  .menu-list,
  .admin-menu,
  .employee-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-list li,
  .admin-menu li,
  .employee-menu li {
    margin: 10px 0;
  }

  .menu-list a,
  .admin-menu a,
  .employee-menu a {
    text-decoration: none;
    color: #f1f1f1;
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s;
  }

  .menu-list a:hover,
  .admin-menu a:hover,
  .employee-menu a:hover {
    background-color: #007bff;
    color: white;
  }

  .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 20px;
  }

  .logout-button:hover {
    background-color: #d32f2f;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
  }

  .sidebar.hidden {
    left: 0;
  }

  .main-content {
    margin-left: 0;
  }

  .header-title {
    text-align: left; /* Ajustar alineación para móviles */
    padding-left: 40px; /* Ajustar espacio para el botón en móviles */
  }
}
