<h1>Inventario los Saramambiches</h1>
<div id="register-form">
  <h2>Registrarse</h2>

  <!-- Spinner mientras se está registrando -->
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="unique-spinner">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>

  <!-- Mensaje de éxito -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="register()" *ngIf="!isLoading">
    <label for="register-username">Usuario</label>
    <input type="text" id="register-username" [(ngModel)]="registerData.username" name="username" required>

    <label for="user_type">Tipo de Usuario:</label>
    <select name="user_type" id="user_type" (change)="onUserTypeChange($event)" [(ngModel)]="registerData.role">
      <option value="Admin">Administrador</option>
      <option value="Employee" selected>Empleado</option>
    </select>

    <div *ngIf="isAdminSelected">
      <label for="admin-password">Contraseña de Administrador</label>
      <input type="password" id="admin-password" [(ngModel)]="registerData.adminPassword" name="admin_password">
    </div>

    <label for="register-password">Contraseña</label>
    <input type="password" id="register-password" [(ngModel)]="registerData.password" name="password" required>

    <button type="submit">Registrarse</button>
  </form>
  <!-- Enlace a login -->
  <p *ngIf="!isLoading">¿Ya tienes una cuenta? 
    <a (click)="navigateToLogin()">Inicia sesión aquí</a>
  </p>
</div>
