<div class="container">
  <!-- Título -->
  <h2>Gestión de Usuarios</h2>

  <!-- Mensaje de éxito o error -->
  <div *ngIf="message" [ngClass]="messageClass === 'success' ? 'alert alert-success' : 'alert alert-danger'" role="alert">
    {{ message }}
  </div>
  <!-- Formulario de crear/editar usuario -->
  <div class="user-form">
    <h3>{{ editMode ? 'Editar Usuario' : 'Crear Usuario' }}</h3>
  <!-- Formulario de creación/edición de usuarios -->
  <form (ngSubmit)="onSubmit()" class="mt-4">
    <div class="form-group">
      <label for="username">Nombre de Usuario</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="role">Rol</label>
      <select id="role" [(ngModel)]="user.role" name="role" class="form-control" required>
        <option value="">Selecciona un rol</option>
        <option value="Employee">Usuario</option>
        <option value="Admin">Administrador</option>
      </select>
    </div>

    <!-- Campo de Contraseña (solo al crear) -->
    <div class="form-group" *ngIf="!editMode">
      <label for="password">Contraseña</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" required />
    </div>

    <!-- Campo de Contraseña Adicional (solo si el rol es Administrador) -->
    <div class="form-group" *ngIf="isAdmin() && !editMode">
      <label for="additionalPassword">Contraseña Adicional (Solo Administradores)</label>
      <input type="password" id="additionalPassword" [(ngModel)]="user.additionalPassword" name="additionalPassword" class="form-control" />
    </div>

    <!-- Botón de enviar -->
    <button type="submit" class="btn btn-primary mt-3">
      {{ editMode ? 'Actualizar Usuario' : 'Crear Usuario' }}
    </button>
    <br>
    <button type="button" class="btn btn-secondary mt-3" (click)="resetForm()">Cancelar</button>
  </form>
  </div>
  <!-- Selector para la cantidad de usuarios por página -->
  <div class="form-group">
    <label for="itemsPerPage">Usuarios por página: </label>
    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)" class="form-control w-auto d-inline">
      <option [value]="5">5</option>
      <option [value]="20">20</option>
      <option [value]="30">30</option>
      <option [value]="50">50</option>
    </select>
  </div>

  <!-- Tabla de usuarios -->
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de Usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="editUser(user)" class="btn btn-primary btn-sm">Editar</button>
          <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="setPage(1)" aria-label="First">
          Primera
        </a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="setPage(currentPage - 1)" aria-label="Previous">
          Anterior
        </a>
      </li>

      <li *ngFor="let page of paginationArray()" [class.active]="page === currentPage" class="page-item">
        <a class="page-link" (click)="setPage(page)">{{ page }}</a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages()">
        <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next">
          Siguiente
        </a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages()">
        <a class="page-link" (click)="setPage(totalPages())" aria-label="Last">
          Última
        </a>
      </li>
    </ul>
  </nav>
</div>
